* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #04a0ff;
  color: #ecf0f1;
  font-size: 24pt;
}
h1 {
  font-size: 3em;
  font-family: 'Bubbler One', sans-serif;
}
.about {
	font-family: 'Crimson Text', serif;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 1em;
  padding-top: 4em;
  text-align: right;
  background-color: #04a0ff;
}
.right {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #0091ea;
  padding: 4em 0 0 1em;
}
.right:before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('noise.png');
}
.right ul {
  display: block;
  position: relative;
  margin-bottom: 1em;
  list-style: none;
}
.right li {
  display: block;
  margin-top: 0.5em;
}
.right li a {
  font-family: 'Voltaire', sans-serif;
  background-color: black;
  padding: 0.2em;
  color: white;
  text-decoration: none;
  display: inline;
}
.right li a:hover {
  background-color: yellow;
  color: black;
}
ul.skewed {
  overflow: hidden;
  display: inline-block;
}
ul.skewed li {
  display: inline-block;
}
ul.skewed li a {
  display: inline-block;
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
  padding: 0.2em 0.5em;
}
ul.skewed li a span {
  display: inline-block;
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
}
ul.skewed li:first-child a {
  margin-left: -2em;
  padding-left: 2.5em;
}
ul.skewed li:last-child a {
  margin-right: -2em;
  padding-right: 2.5em;
}
