doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		link(rel='stylesheet', href='styles.css', type='text/css')
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Oxygen:100,300', rel='stylesheet', type='text/css')
	body
		.container.wrap-width
			header
				.logo.inline
					h1 Trikita
				| &nbsp;
				.links.inline
					a(href="http://plus.google.com").icon-plus
						i.fa
					a(href="http://twitter.com").icon-bird
						i.fa
			.apps
				ul.grid
					li
						a(href="https://play.google.com/store/apps/details?id=trikita.obsqr")
							.app.yellow
								.descr
									h3 Obsqr
									p QR scanner
					li
						a(href="https://play.google.com/store/apps/details?id=trikita.talalarmo")
							.app.orange
								.descr
									h3 Talalarmo
									p Alarm clock
					li
						a(href="https://play.google.com/store/apps/details?id=trikita.spot")
							.app.purple
								.descr
									h3 Spot
									p Sliding puzzle
					li
						a(href="https://play.google.com/store/apps/details?id=trikita.quilt")
							.app.blue
								.descr
									h3 Quilt
									p Memory game
					li
						a(href="https://play.google.com/store/apps/details?id=trikita.harpion")
							.app.red
								.descr
									h3 Harpion
									p Harmonica app
					li
						a(href="https://github.com/zserge/anvil")
							.app.orange
								.descr
									h3 Anvil
									p Android UI library
					li
						a(href="http://knork.trikita.co")
							.app.green
								.descr
									h3 Knork
									p View injection
					li
						a(href="http://chain.trikita.co")
							.app.indigo
								.descr
									h3 Chain
									p Lightweight promises

		footer
			.wrap-width.full-height
				.center-vertical
					p We're Serge and Anna.
					p We work together under the name Trikita.
					p Simplicity is our passion.
					p &nbsp;
					p
						a.email(href='mailto:zaitsev.serge@gmail.com') zaitsev.serge@gmail.com
					p
						a.email(href='mailto:kruglik.anna@gmail.com') kruglik.anna@gmail.com
