doctype html
html(lang="en")
	head
		title Trikita Pixels | minimal, simple and beautiful
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="description", content="We create simple and intuitive mobile apps, captivating android games and effective tools for developers")
		link(href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300', rel='stylesheet', type='text/css')
		style
			| * {margin: 0; padding: 0; box-sizing: border-box; }
			| .container { display: flex; min-height: 100vh; flex-direction: column; }
			| .wrap-width { padding-left: 1em; padding-right: 1em; }
			| @media screen and (min-width: 900px) {
			|  .wrap-width { padding-left: 0; padding-right: 0; width: 900px; margin: 0 auto; }
			| }
			| h1 { line-height: 5em; font-size: 3em; font-family: 'Alegreya Sans SC', sans-serif;}
			| .center { text-align: center; }
			| .grey { color: rgba(0, 0, 0, 0.54); }
			| .plain {text-decoration: none; font-family: 'Alegreya Sans SC', sans-serif;}
			| .gallery { display: flex; flex-flow: row wrap; flex: 1;}
			| .card { flex: auto; flex-direction: column; width: 300px; display: flex; justify-content: center; align-items: center; margin: 1rem; padding: 2rem; box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.23);  }
			| .image { display: flex; flex-direction: column; flex: 1; justify-content: center; }
			| .image img { max-width: 100%; height: auto; display: block; margin: 0 auto; }
			| .title { font-family: 'Oxygen', sans-serif; margin: 0.7rem 0 0 0; }
			| p { font-size: 1em; text-align: center; height: 2em; }
			| .copyright { padding: 2em 0 2em 0; }
	body
		.container.wrap-width
			h1.center
				a.plain.grey(href="http://trikita.co/") Trikita Pixels
			.gallery
				.card
					.image
						a(href="00_eyemoment_logo.png", target='_blank')
							img(src="00_eyemoment_logo.png", alt="Eye Moment logo", title="Eye Moment logo")
					.title
						p.grey Eye Moment photo studio
				.card
					.image
						a(href="01_anvil_logo.png", target='_blank')
							img(src="01_anvil_logo.png", alt="Anvil logo", title="Anvil logo")
					.title
						p.grey Anvil - minimal reactive UI library for Android
				.card
					.image
						a(href="02_slide_icon.png", target='_blank')
							img(src="02_slide_icon.png", alt="Slide icon", title="Slide icon")
					.title
						p.grey Slide - plain text slideshow tool
				.card
					.image
						a(href="03_slide_promographics.png", target='_blank')
							img(src="03_slide_promographics.png", alt="Slide promo graphics", title="Slide promo graphics")
					.title
						p.grey Slide promo graphics
				.card
					.image
						a(href="04_hush_icon.png", target='_blank')
							img(src="04_hush_icon.png", alt="Hush icon", title="Hush icon")
					.title
						p.grey Hush - mobile loudness meter
				.card
					.image
						a(href="05_memory_game_icon.png", target='_blank')
							img(src="05_memory_game_icon.png", alt="Memory game icon", title="Memory game icon")
					.title
						p.grey Memory game about matching tile pairs
				.card
					.image
						a(href="06_obsqr_icon.png", target='_blank')
							img(src="06_obsqr_icon.png", alt="Obsqr icon", title="Obsqr icon")
					.title
						p.grey Obsqr - QR code scanner
				.card
					.image
						a(href="07_obsqr_promographics.png", target='_blank')
							img(src="07_obsqr_promographics.png", alt="Obsqr promo graphics", title="Obsqr promo graphics")
					.title
						p.grey Obsqr promo graphics
				.card
					.image
						a(href="08_cluedo_characters.png", target='_blank')
							img(src="08_cluedo_characters.png", alt="Cluedo game characters", title="Cluedo game characters")
					.title
						p.grey Characters of Cluedo board game
				.card
					.image
						a(href="09_cluedo_weapons.png", target='_blank')
							img(src="09_cluedo_weapons.png", alt="Cluedo game weapons", title="Cluedo game weapons")
					.title
						p.grey Weapons of Cluedo board game
				.card
					.image
						a(href="10_scherzo_ui_prototype.png", target='_blank')
							img(src="10_scherzo_ui_prototype.png", alt="Scherzo UI prototype", title="Scherzo UI prototype")
					.title
						p.grey Scherzo - lightweight virtual piano (UI prototype)
			.copyright.center
				a.plain.grey(href="http://trikita.co/") &copy; Trikita 2017
		!= partial('../_shared/analytics')
