* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 24px;
  background-color: white;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #000000;
  margin-left: 300px;
  margin-right: 16px;
}
body h1 {
  color: #259b24;
  font-size: 7.594em;
  line-height: 1.5em;
  font-weight: inherit;
}
body h2 {
  color: #259b24;
  font-weight: 400;
  font-size: 2em;
  margin-top: -1em;
  margin-left: 2em;
  margin-bottom: 2em;
}
body ul:first-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  margin: 3.2em 0 0 2em;
  /*width: 40%;*/
  list-style: none;
}
body ul:first-child li {
  list-style: none;
}
body ul:first-child a,
body ul:first-child a:visited {
  text-decoration: none;
  color: #259b24;
  opacity: 40%;
}
body ul:first-child a:before,
body ul:first-child a:visited:before {
  content: "\2023";
  margin-right: 0.5em;
  color: rgba(0, 0, 0, 0);
}
body ul:first-child a.active,
body ul:first-child a:visited.active {
  opacity: 100%;
  color: #259b24;
}
body ul:first-child a.active:before,
body ul:first-child a:visited.active:before {
  color: #259b24;
}
body p:last-of-type {
  margin: 0 -16px 0 -300px;
  color: #fafafa;
  background-color: #259b24;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 300px;
  /*margin: 0;*/
  /*padding: 1.5em;*/
  font-size: 0.7em;
}
body p:last-of-type a {
  color: #fafafa;
}
body table {
  width: 100%;
  padding-bottom: 1.5em;
}
body table thead {
  font-weight: bold;
  text-align: left;
}
p {
  margin-bottom: 1.5em;
}
p a {
  color: #259b24;
}
code,
pre {
  font-family: 'Inconsolata', monospace;
}
pre {
  font-size: 0.66em;
  line-height: 1.2em;
  padding: 2em;
  margin-bottom: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  border: 0;
}
pre code {
  /*line-height: 1.20em;*/
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  margin: 3.2em 0 0 2em;
  /*width: 40%;*/
  list-style: none;
}
.nav li {
  list-style: none;
}
.nav a,
.nav a:visited {
  text-decoration: none;
  color: #259b24;
  opacity: 40%;
}
.nav a:before,
.nav a:visited:before {
  content: "\2023";
  margin-right: 0.5em;
  color: rgba(0, 0, 0, 0);
}
.nav a.active,
.nav a:visited.active {
  opacity: 100%;
  color: #259b24;
}
.nav a.active:before,
.nav a:visited.active:before {
  color: #259b24;
}
.header {
  color: #259b24;
  font-size: 7.594em;
  line-height: 1.5em;
  font-weight: inherit;
}
.subheader {
  color: #259b24;
  font-weight: 400;
  font-size: 2em;
  margin-top: -1em;
  margin-left: 2em;
  margin-bottom: 2em;
}
h3 {
  color: #259b24;
  font-weight: inherit;
  font-size: 2em;
  margin-top: 1.41414em;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}
ul:not(:first-of-type) {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 1em;
}
.footer {
  margin: 0 -16px 0 -300px;
  color: #fafafa;
  background-color: #259b24;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 300px;
  /*margin: 0;*/
  /*padding: 1.5em;*/
  font-size: 0.7em;
}
.footer a {
  color: #fafafa;
}
